# History files
.Rhistory

# Example code in package build process
*-Ex.R

# R data files from past sessions
.Rdata

#Models and computed data
age_impuation.rds
model*
features_train.csv
features_test.csv
*.pdf
